.text-con{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   body {
    font-family: Arial, Helvetica, sans-serif;
 }

 .text-c{
   justify-content: center;
   align-items: center;
 }

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }

 .container {
    max-width: 1200px;
    margin: 0 auto;

 }

 .content {
    min-height: 70px;
    background: linear-gradient(
        90deg,
        rgba(253,18,133,1)0%,
        rgba(80,49,145,1)70%

    );
 }

 .historia {
   width: 520px;
   height: 540px;
   margin: 20px;
   border: 2px solid #f0f0f010;
   border-radius: 1rem;
   background: #d9d9d910;
   backdrop-filter: blur(0.4rem);
   align-items: center;
 }

 .historia h1{
   text-align: left;
   margin-bottom: 2rem;
 }

 .historia_container {
   width: auto;
   height: 700px;
   border: 2px solid #f0f0f010;
   border-radius: 1rem;
   margin-top: 2rem;
   margin-bottom: 6rem;
   margin-left: 1rem;
   margin-right: 1rem;
   background-image: url('../Imagenes/historia.jpeg');
 }

 .ubicacion {
   width: 520px;
   height: 540px;
   margin: 20px;
   border: 2px solid #f0f0f010;
   border-radius: 1rem;
   background: #d9d9d910;
   backdrop-filter: blur(0.4rem);
   align-items: center;
   vertical-align: text-top;
 }

 .ubicacion h1{
   text-align: left;
   margin-bottom: 2rem;
 }

 .ubicacion_container {
   width: auto;
   height: 600px;
   border: 2px solid #f0f0f010;
   border-radius: 1rem;
   margin-top: 2rem;
   margin-bottom: 6rem;
   margin-left: 1rem;
   margin-right: 1rem;
   background-image: url('../Imagenes/historia.jpeg');
 }

 .slider-box {
   width: 100%; 
   max-width: 1200px;
   height: 500px; 
   margin: 50px auto 0;
   margin-bottom: 200px;
   overflow: hidden;
   position: relative;
   border-radius: 10px; 
}


.slider-box ul {
   display: flex;
   padding: 0;
   width: calc(100% * 20); 
   animation: slide 30s infinite;
}


.slider-box li {
   width: 100%; 
   height: 75%;
   list-style: none;
   flex-shrink: 0;
}


.slider-box img {
   width: 256px;
   height: 256px;
   object-fit: cover;
}





 .menu {
    position: obsolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

 }

 .logo{
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
 }

 .menu .navbar ul li {
    position: relative;
    float: left;

 }

 .menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #DEDEDE;
    display: block;
    font-weight: bold;
 }
 
 .menu .navbar ul li a:hover {
    color: #ffffff;
 }

 #menu {
    display: none;
 }

 .menu-icono {
    width: 25px;
 }

 .menu label {
    cursor: pointer;
    display: none;
 }

 h1 {
    text-align: center;
    margin-top: 0px; 
    display: block;
 }

 .transparent{
   width: 800px;
   height: auto;
   border: 2px solid #fafafa10;
   margin: auto 0;
   border-radius: 1rem;
   background: #fafafa10;
   backdrop-filter: blur(0.4rem);
 }

 .footer{
   position: relative;
   width: 100%;
   background: linear-gradient(
      90deg,
      rgba(253,18,133,1)0%,
      rgba(80,49,145,1)70%

  );
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .social-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin: 10px 5px;
   flex-wrap: wrap;
 }

 .icon-elemen{
   list-style: none;
 }

 .icon{
   color: white;
   font-size: 32px;
   display: inline-block;
   margin: 0 10px;
   transition: 0.5s;
 }

 .icon:hover{
   transform: translateY(-10px);
 }

 .menu{
   display: flex;
   justify-content: center;
   position: relative;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
 }

 .menu-elem{
   list-style: none;
 }

 .menu-icon{
   color: white;
   font-size: 20px;
   display: inline-block;
   text-decoration: none;
   margin: 5px 10px;
   opacity: 0.5;
   transition: 0.3s;
 }

 .menu-icon:hover{
   opacity: 1;
 }

 .text_f{
   color: white;
   text-align: center;
   margin-top: 15px;
   margin-bottom: 10px;
   font-size: 20px;
 }

 @media(max-width:991px) {
    .content {
        min-height: 70px;
    }
   
    .menu {
        top: 0
        padding 20px;
    }

    .menu label{
        display: initial;
    }

 }